<section class="flex flex-col justify-center items-center bg-[#a90269]">
    <h1 class="text-white text-8xl lg:text-[9vw] font-bold text-center">CERTYFIKATY</h1>

    <div class="relative h-[120vw] w-[95vw] max-w-[600px] max-h-[800px] m-auto mb-40 flex justify-center items-center">

        <button class="select-none text-8xl opacity-50 hover:opacity-100 p-2 m-0 transition-transform duration-300 hover:scale-125 h-full sm:text-5xl text-white" (click)="slideLeft()"><</button>

        <div class="relative flex justify-center items-center overflow-hidden h-full w-full">

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                <img src="../../../assets/certs/0.jpg" alt="certyfikat">
            </div>

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                <img src="../../../assets/certs/1.jpg" alt="certyfikat">
            </div>

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                <img src="../../../assets/certs/2.jpg" alt="certyfikat">
            </div>

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                <img src="../../../assets/certs/3.jpg" alt="certyfikat">
            </div>

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                <img src="../../../assets/certs/4.jpg" alt="certyfikat">
            </div>

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]"  style="z-index: 10;">
                <img src="../../../assets/certs/5.jpg" alt="certyfikat">
            </div>

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                <img src="../../../assets/certs/6.jpg" alt="certyfikat">
            </div>

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                <img src="../../../assets/certs/7.jpg" alt="certyfikat">
            </div>

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                <img src="../../../assets/certs/8.jpg" alt="certyfikat">
            </div>

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                <img src="../../../assets/certs/9.jpg" alt="certyfikat">
            </div>

            <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                <img src="../../../assets/certs/10.jpg" alt="certyfikat">
            </div>

        </div>

        <button class="select-none text-8xl opacity-50 hover:opacity-100 p-2 m-0 transition-transform duration-300 hover:scale-125 h-full sm:text-5xl text-white" (click)="slideRight()">></button>

    </div>

</section>

