<section class="flex flex-col justify-center items-center bg-[#a90269]">
    <h1 class="text-white text-[8vw] font-bold text-center">CERTYFIKATY</h1>

    <div id="carouselDarkVariant" class="relative w-[90vw] max-w-[600px] m-auto mb-10" data-te-carousel-init>

        <div class="absolute inset-x-0 bottom-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0" data-te-carousel-indicators>
            <button data-te-target="#carouselDarkVariant" class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" data-te-slide-to="0" aria-label="Slide 1"></button>

            <button data-te-target="#carouselDarkVariant" class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" data-te-slide-to="1" aria-label="Slide 1"></button>

            <button data-te-target="#carouselDarkVariant" class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" data-te-slide-to="2" aria-label="Slide 1"></button>

            <button data-te-target="#carouselDarkVariant" class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" data-te-slide-to="3" aria-label="Slide 1"></button>

            <button data-te-target="#carouselDarkVariant" class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" data-te-slide-to="4" aria-label="Slide 1"></button>

            <button data-te-target="#carouselDarkVariant" data-te-slide-to="5" data-te-carousel-active class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" aria-current="true" aria-label="Slide 1"></button>

            <button data-te-target="#carouselDarkVariant" class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" data-te-slide-to="6" aria-label="Slide 1"></button>

            <button data-te-target="#carouselDarkVariant" class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" data-te-slide-to="7" aria-label="Slide 1"></button>

            <button data-te-target="#carouselDarkVariant" class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" data-te-slide-to="8" aria-label="Slide 1"></button>

            <button data-te-target="#carouselDarkVariant" class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" data-te-slide-to="9" aria-label="Slide 1"></button>

            <button data-te-target="#carouselDarkVariant" class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[1500ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)]" data-te-slide-to="10" aria-label="Slide 1"></button>

        </div>

        <div class="relative w-full overflow-hidden after:clear-both after:block after:content-[''] h-[70vh] flex items-center">

            <svg class="absolute left-[45%] animate-spin h-10 w-10 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>

            <div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item>
                <img data-src="../../../assets/certs/0.jpg" src="../../../assets/certs_placeholder.jpg" class="block w-full opacity-0" alt="certyfikat" loading="lazy"/>
            </div>

            <div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item>
                <img data-src="../../../assets/certs/1.jpg" src="../../../assets/certs_placeholder.jpg" class="block w-full opacity-0" alt="certyfikat" loading="lazy"/>
            </div>

            <div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item>
                <img data-src="../../../assets/certs/2.jpg" src="../../../assets/certs_placeholder.jpg" class="block w-full opacity-0" alt="certyfikat" loading="lazy"/>
            </div>

            <div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item>
                <img data-src="../../../assets/certs/3.jpg" src="../../../assets/certs_placeholder.jpg" class="block w-full opacity-0" alt="certyfikat" loading="lazy"/>
            </div>

            <div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item>
                <img data-src="../../../assets/certs/4.jpg" src="../../../assets/certs_placeholder.jpg" class="block w-full opacity-0" alt="certyfikat" loading="lazy"/>
            </div>

            <div class="relative float-left -mr-[100%] w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item data-te-carousel-active>
                <img data-src="../../../assets/certs/5.jpg" src="../../../assets/certs/5.jpg" class="block w-full" alt="certyfikat" loading="lazy"/>
            </div>

            <div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item>
                <img data-src="../../../assets/certs/6.jpg" src="../../../assets/certs_placeholder.jpg" class="block w-full opacity-0" alt="certyfikat" loading="lazy"/>
            </div>

            <div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item>
                <img data-src="../../../assets/certs/7.jpg" src="../../../assets/certs_placeholder.jpg" class="block w-full opacity-0" alt="certyfikat" loading="lazy"/>
            </div>

            <div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item>
                <img data-src="../../../assets/certs/8.jpg" src="../../../assets/certs_placeholder.jpg" class="block w-full opacity-0" alt="certyfikat" loading="lazy"/>
            </div>

            <div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item>
                <img data-src="../../../assets/certs/9.jpg" src="../../../assets/certs_placeholder.jpg" class="block w-full opacity-0" alt="certyfikat" loading="lazy"/>
            </div>

            <div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[1500ms] ease-in-out" data-te-carousel-fade data-te-carousel-item>
                <img data-src="../../../assets/certs/10.jpg" src="../../../assets/certs_placeholder.jpg" class="block w-full opacity-0" alt="certyfikat" loading="lazy"/>
            </div>

        </div>
    
        <button class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none" type="button" data-te-target="#carouselDarkVariant" data-te-slide="prev">

            <span class="inline-block h-8 w-8 dark:grayscale">
    
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-16 w-16">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"/>
                </svg>

            </span>

            <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">
                Previous
            </span>
        </button>

        <button class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none" type="button" data-te-target="#carouselDarkVariant" data-te-slide="next">

            <span class="inline-block h-8 w-8 dark:grayscale">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-16 w-16">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
                </svg>

            </span>

            <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">
                Next
            </span>

        </button>

    </div>

</section>
