<section class="flex flex-col justify-center items-center bg-[#a90269]">
    <h1 class="text-white text-8xl lg:text-[9vw] tracking-[40px] font-bold text-center opacity-60 m-10 lg:m-2 lg:tracking-[10px]" data-aos="fade-right" data-aos-duration="1000">CERTYFIKATY</h1>

    <div class="mb-20" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="200">

        <div class="relative h-[120vw] w-[95vw] max-w-[700px] max-h-[800px] min-w-[200px] flex justify-center items-center m-auto mb-0">

            <button class="select-none text-8xl opacity-50 hover:opacity-100 p-2 m-0 duration-500 hover:scale-125 h-full sm:text-5xl text-white active:scale-75 transition-all" (click)="slideLeft(0.65)"><</button>

            <div class="relative flex justify-center items-center overflow-hidden h-full w-full">

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                    <img src="../../../assets/certs/0.webp" alt="certyfikat">
                </div>

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                    <img src="../../../assets/certs/1.webp" alt="certyfikat">
                </div>

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                    <img src="../../../assets/certs/2.webp" alt="certyfikat">
                </div>

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                    <img src="../../../assets/certs/3.webp" alt="certyfikat">
                </div>

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                    <img src="../../../assets/certs/4.webp" alt="certyfikat">
                </div>

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]"  style="z-index: 10;">
                    <img src="../../../assets/certs/5.webp" alt="certyfikat">
                </div>

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                    <img src="../../../assets/certs/6.webp" alt="certyfikat">
                </div>

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                    <img src="../../../assets/certs/7.webp" alt="certyfikat">
                </div>

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                    <img src="../../../assets/certs/8.webp" alt="certyfikat">
                </div>

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                    <img src="../../../assets/certs/9.webp" alt="certyfikat">
                </div>

                <div class="cert-wrapper absolute w-full h-full flex justify-center items-center bg-[#a90269]">
                    <img src="../../../assets/certs/10.webp" alt="certyfikat">
                </div>

            </div>

            <button class="select-none text-8xl opacity-50 hover:opacity-100 p-2 m-0 duration-500 hover:scale-125 h-full sm:text-5xl text-white active:scale-75 transition-all" (click)="slideRight(0.65)">></button>

        </div>

        <div class="flex justify-center items-center mt-5"> 
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-25 mx-1.5 sm:mx-1" (click)="goToCertButtonClicked(0)"></button>
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-25 mx-1.5 sm:mx-1" (click)="goToCertButtonClicked(1)"></button>
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-25 mx-1.5 sm:mx-1" (click)="goToCertButtonClicked(2)"></button>
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-25 mx-1.5 sm:mx-1" (click)="goToCertButtonClicked(3)"></button>
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-25 mx-1.5 sm:mx-1" (click)="goToCertButtonClicked(4)"></button>
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-100 mx-1.5" s sm:mx-1tyle="scale: 1.15;" (click)="goToCertButtonClicked(5)"></button>
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-25 mx-1.5 sm:mx-1" (click)="goToCertButtonClicked(6)"></button>
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-25 mx-1.5 sm:mx-1" (click)="goToCertButtonClicked(7)"></button>
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-25 mx-1.5 sm:mx-1" (click)="goToCertButtonClicked(8)"></button>
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-25 mx-1.5 sm:mx-1" (click)="goToCertButtonClicked(9)"></button>
            <button class="transition-all duration-500 go-to-cert-button w-[3vw] max-w-[22px] min-w-[8px] h-[3vw] max-h-[22px] min-h-[8px] bg-white rounded-full hover:scale-[1.15] opacity-25 mx-1.5 sm:mx-1" (click)="goToCertButtonClicked(10)"></button>
        </div>

    </div>



</section>

