<section id="gallery" class="relative mb-32">

    <div class="bg-[#a90269] overflow-hidden pb-10" [ngClass]="{'max-h-[500px]': !showFullGallery, 'max-h-full': showFullGallery}">
        <h2 class="text-white text-8xl lg:text-[9vw] font-bold text-center opacity-70 m-10 lg:m-2"   data-aos="fade-right" data-aos-duration="1000">GALERIA</h2>

        <div class="flex flex-wrap justify-center items-center">
    
            <div *ngFor="let i of numbers" class="m-10 cursor-pointer shadow-lg shadow-neutral-800 hover:scale-[1.08]" data-aos="flip-up" data-aos-offset="120" data-aos-duration="500">
                <img src="../../../assets/clinic/reduced/{{i}}.webp" alt="obraz z galerii" loading="lazy" (click)="galleryPhotoClicked($event)" class="rounded-lg">
            </div>
    
        </div>
    </div>
    
    <button class="absolute bottom-[-50px] left-0 right-0 mx-auto text-center bg-[#a90269] select-none w-[150px] h-[50px] text-xl text-white rounded-b-xl" (click)="toggleFullGallery()">
        <p *ngIf="!showFullGallery">↓ ROZWIŃ ↓</p>
        <p *ngIf="showFullGallery">↑ ZWIŃ ↑</p>
    </button>

</section>

<div class="fixed left-0 top-0 w-[100vw] min-w-[300px] h-[100%] bg-[#a90269] bg-opacity-80 z-30" *ngIf="fullPhotoView">

    <div class="w-full h-full relative flex flex-col justify-evenly items-center mt-10 pb-14 pt-3">

        <img id="full-gallery-img" src="{{fullPhotoSrc}}" alt="obraz z galerii" class="z-30 shadow-xl shadow-neutral-900 rounded-xl max-w-[90%] max-h-[85%]">

        <div class="loader absolute top-[32%] w-[20vh] h-[20vh] max-h-[100px] max-w-[100px] lg:w-[30px] lg:h-[30px]"></div>

        <img src="../../../assets/exit_menu.webp" alt="wyjdź z menu" class="w-11 cursor-pointer animate-pulse duration-300 hover:scale-125 z-40 mt-2" (click)="toggleFullPhotoView()">

    </div>

</div>
