<section class="relative mb-96">

    <div class="bg-[#a90269] overflow-hidden pb-10" [ngClass]="{'max-h-[500px]': !fullGallery, 'max-h-full': fullGallery}">
        <h1 class="text-white text-8xl lg:text-[9vw] font-bold text-center opacity-70 m-10 lg:m-2"   data-aos="fade-right" data-aos-duration="1000">GALERIA</h1>

        <div class="flex flex-wrap justify-center items-center">
    
            <div *ngFor="let i of numbers" class="m-10 cursor-pointer shadow-lg shadow-neutral-800" data-aos="flip-up" data-aos-offset="150" data-aos-duration="600">
                <img src="../../../assets/clinic/reduced/{{i}}.webp" alt="obraz z galerii" loading="lazy" (click)="galleryImageClicked($event)" class="rounded-lg">
            </div>
    
        </div>
    </div>
    
    <button class="absolute bottom-[-50px] left-0 right-0 mx-auto text-center bg-[#a90269] select-none w-[150px] h-[50px] text-xl text-white rounded-b-xl" (click)="toggleFullGallery()">
        <p *ngIf="!fullGallery">↓ ROZWIŃ ↓</p>
        <p *ngIf="fullGallery">↑ ZWIŃ ↑</p>
    </button>

</section>