<section id="about-me" class="flex justify-center items-center w-full h-[1200px] relative">

    <div class="absolute w-full h-full">

        <div style="background: url('../../../assets/clinic/full/0.webp')" class="background-div w-full h-full absolute !bg-center !bg-no-repeat !bg-cover transition-opacity duration-700 opacity-100"></div>

        <div style="background: url('../../../assets/clinic/full/1.webp')" class="background-div w-full h-full absolute !bg-center !bg-no-repeat !bg-cover transition-opacity duration-700 opaci opacity-0"></div>

        <div style="background: url('../../../assets/clinic/full/7.webp')" class="background-div w-full h-full absolute !bg-center !bg-no-repeat !bg-cover transition-opacity duration-700 opaci opacity-0"></div>

        <div style="background: url('../../../assets/clinic/full/10.webp')" class="background-div w-full h-full absolute !bg-center !bg-no-repeat !bg-cover transition-opacity duration-700 opaci opacity-0"></div>

        <div style="background: url('../../../assets/clinic/full/6.webp')" class="background-div w-full h-full absolute !bg-center !bg-no-repeat !bg-cover transition-opacity duration-700 opaci opacity-0"></div>

    </div>

    <div class="relative bg-[#a90269] w-full py-5 px-20 text-white bg-opacity-80 lg:px-5" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
        <h2 class="text-6xl mb-10 lg:text-3xl">O mnie</h2>
        <p class="text-xl sm:text-sm">
            Jestem absolwentką Śląskiej Akademii Medycznej w Katowicach, Oddziału Stomatologicznego w Zabrzu. Dyplom lekarza stomatologa uzyskałam w 1991 r. Kontynuuję tradycję rodzinną w zawodzie. Gabinet stomatologiczny pod tym adresem istnieje od 1980 r. i był prowadzony przez mojego św. pamięci ojca Andrzeja Zacharjasza. To on zainspirował mnie do wybrania takiej drogi zawodowej. Przez długi okres pracowaliśmy wspólnie, dzięki czemu zdobyłam doświadczenie zawodowe, korzystając na co dzień z jego wiedzy, umiejętności i wieloletniej praktyki. Teraz kontynuuję jego dziedzictwo, dążąc nie tylko do utrzymania wysokich standardów opieki stomatologicznej, ale również do ich rozwijania zgodnie z najnowszymi osiągnięciami technologicznymi i metodami leczenia. Praca nad zdrowiem i uśmiechem pacjentów to dla mnie nie tylko obowiązek zawodowy, ale także prawdziwa pasja, którą pielęgnuję każdego dnia.
        </p>
    </div>
</section>

