section {
    background-position: center !important;
    background-size: cover !important;
    -webkit-transition: background-image 0.8s ease-in-out;
    transition: background-image 0.8s ease-in-out;
}