<nav class="flex flex-col bg-white w-full pb-2 mt-[32px]">

    <div class="flex justify-center items-center md:flex-col relative h-[112px]">

        <div>
            <img src="../../../assets/logo_purple.webp" alt="logo" class="mr-2 object-contain w-28 lg:w-16 hover:animate-pulse cursor-pointer">
        </div>

        <div class="flex flex-col justify-center text-[#a90269] text-2xl font-bold lg:text-base md:text-center">
            <div class="mx-2">
                Prywatny Gabinet Stomatologiczny
            </div>
            <div class="mx-2">
                Agnieszka Zacharjasz-Wilkusz
            </div>
        </div>

        <div class="flex-col justify-evenly items-center hidden md:flex left-[78%] top-11 bg-[#a90269] w-12 h-10 rounded cursor-pointer fixed z-30 border-black border-2" (click)="toggleMobileMenu()">
            <div class="w-8 h-0.5 bg-white rounded"></div>
            <div class="w-8 h-0.5 bg-white rounded"></div>
            <div class="w-8 h-0.5 bg-white rounded"></div>
        </div>

    </div>

    <div class="w-full h-[50px] md:hidden">

        <div id="menu" class="flex justify-evenly m-0 py-2 text-xl text-center lg:text-lg w-full bg-white z-30 border-b-2 border-black">

            <div id="nav-about-me" class="nav-tile m-auto group text-[#a90269] transition duration-500 w-36 hover:cursor-pointer select-none" (click)="scrollTo('about-me')">
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-[#a90269]"></span>
                <p class="p-1">O MNIE</p>
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-[#a90269]"></span>
            </div>

            <div id="nav-certs" class="nav-tile m-auto group text-[#a90269] transition duration-500 w-36 hover:cursor-pointer select-none" (click)="scrollTo('certs-section')">
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-[#a90269]"></span>
                <p class="p-1">CERTYFIKATY</p>
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-[#a90269]"></span>
            </div>

            <div id="nav-services" class="nav-tile m-auto group text-[#a90269] transition duration-500 w-36 hover:cursor-pointer select-none" (click)="scrollTo('services-section')">
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-[#a90269]"></span>
                <p class="p-1">OFERTA</p>
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-[#a90269]"></span>
            </div>

            <div id="nav-gallery" class="nav-tile m-auto group text-[#a90269] transition duration-500 w-36 hover:cursor-pointer select-none" (click)="scrollTo('gallery')">
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-[#a90269]"></span>
                <p class="p-1">GALERIA</p>
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-[#a90269]"></span>
            </div>

            <div id="nav-contact" class="nav-tile m-auto group text-[#a90269] transition duration-500 w-36 hover:cursor-pointer select-none" (click)="scrollTo('contact-section')">
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-[#a90269]"></span>
                <p class="p-1">KONTAKT</p>
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-[#a90269]"></span>
            </div>

        </div>

    </div>

    <div class="flex flex-col w-[100%] min-w-[250px] h-[100vh] bg-[#a90269] bg-opacity-80 pb-36 z-40 fixed pt-10" [ngClass]="{'hidden': !showMobileMenu}">

        <div class="m-auto text-white text-xl transition duration-300 hover:scale-125" (click)="scrollToAndExitMenu('about-me')">O MNIE</div>

        <hr class="w-1/2 min-w-[180px] h-1 mx-auto my-4 bg-white border-0">

        <div class="m-auto text-white text-xl transition duration-300 hover:scale-125" (click)="scrollToAndExitMenu('certs-section')">CERTYFIKATY</div>

        <hr class="w-1/2 min-w-[180px] h-1 mx-auto my-4 bg-white border-0">

        <div class="m-auto text-white text-xl transition duration-300 hover:scale-125" (click)="scrollToAndExitMenu('services-section')">OFERTA</div>

        <hr class="w-1/2 min-w-[180px] h-1 mx-auto my-4 bg-white border-0">

        <div class="m-auto text-white text-xl transition duration-300 hover:scale-125" (click)="scrollToAndExitMenu('gallery')">GALERIA</div>

        <hr class="w-1/2 min-w-[180px] h-1 mx-auto my-4 bg-white border-0">

        <div class="m-auto text-white text-xl transition duration-300 hover:scale-125" (click)="scrollToAndExitMenu('contact-section')">KONTAKT</div>

        <hr class="w-1/2 min-w-[180px] h-1 mx-auto my-4 bg-white border-0">

        <img src="../../../assets/exit_menu.webp" alt="wyjdź z menu" class="m-auto w-11 cursor-pointer animate-pulse duration-300 hover:scale-125" (click)="toggleMobileMenu()">

    </div>

    <div class="fixed z-30 w-20 h-20 animate-bounce top-[90%] left-[92%] cursor-pointer lg:left-[78%]" (click)="scrollUp()">
        <img src="../../../assets/arrow.webp" alt="strzałka">
    </div>
    
</nav>
