<section>

    <h1 class="text-[#a90269] text-8xl lg:text-[9vw] font-bold text-center opacity-70 m-10 lg:m-2"   data-aos="fade-right" data-aos-duration="1000">KONTAKT</h1>

    <p class="text-center m-20">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni recusandae hic iure cupiditate fugit commodi dolorum laboriosam itaque. Mollitia in dolorem assumenda consequatur quam est ut maiores sapiente deleniti placeat nihil officiis eius qui nulla soluta accusamus tempore, natus, impedit similique magni eos odit obcaecati dignissimos? Quo veritatis laboriosam, omnis illum, ducimus voluptatem at sequi, ea quaerat molestiae quos excepturi blanditiis. Veniam numquam velit autem sapiente laboriosam omnis ea dolore est fugit, commodi odit nam necessitatibus ullam doloribus optio minima quaerat beatae qui officiis nihil iure temporibus corporis. Vitae, sint doloribus expedita velit perferendis nostrum delectus tempora quas vero voluptatem?
    </p>
    
</section>
