<section class="pb-20 flex flex-col justify-center items-center">

    <h1 class="text-[#a90269] text-8xl lg:text-[9vw] font-bold text-center opacity-70 m-10 lg:m-2"   data-aos="fade-right" data-aos-duration="1000">KONTAKT</h1>

    <div class="w-full h-full flex flex-row flex-wrap justify-evenly items-center">

        <div class="w-[90%] max-w-[700px] h-[500px] sm:h-[350px] rounded-2xl overflow-hidden border-[#a90269] border-[5px]" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="150">
            <div id="map" class="map w-full h-full"></div>
        </div>

        <div>

            <div class="flex flex-col items-start my-16 mx-6" data-aos="fade-up" data-aos-offset="120">
                
                <span class="flex justify-center items-center my-3">

                    <div class="bg-[#a90269] w-12 h-12 flex justify-center items-center rounded-full mr-6">
                        <img src="../../../assets/gps_marker_white.webp" alt="lokalizacja" class="w-7">
                    </div>

                    <h1 class="text-[#a90269] text-3xl font-bold">Adres</h1>

                </span>

                <a href="https://goo.gl/maps/nWtzqWApzLGFFx6M7" class="underline text-[#a90269] text-lg dont-break-out">ul. Wojska Polskiego 17, 38-400 Krosno</a>

            </div>

            <div class="flex flex-col items-start my-16 mx-6" data-aos="fade-up" data-aos-offset="120">
                
                <span class="flex justify-center items-center my-3">

                    <div class="bg-[#a90269] w-12 h-12 flex justify-center items-center rounded-full mr-6">
                        <img src="../../../assets/phone.webp" alt="lokalizacja" class="w-7">
                    </div>

                    <h1 class="text-[#a90269] text-3xl font-bold">Telefon</h1>

                </span>

                <p class="text-[#a90269] text-lg"><a href="tel:+48693129312" class="underline text-[#a90269] text-lg dont-break-out">693 129 312</a> (rejestracja)</p>

            </div>

            <div class="flex flex-col items-start my-16 mx-6" data-aos="fade-up" data-aos-offset="120">
                
                <span class="flex justify-center items-center my-3">

                    <div class="bg-[#a90269] w-12 h-12 flex justify-center items-center rounded-full mr-6">
                        <img src="../../../assets/mail.webp" alt="lokalizacja" class="w-7">
                    </div>

                    <h1 class="text-[#a90269] text-3xl font-bold">E-mail</h1>

                </span>

                <a href="mailto:agnieszka.zacharjasz.wilkusz@gmail.com" class="underline text-[#a90269] text-lg dont-break-out">agnieszka.zacharjasz.wilkusz@gmail.com</a>

            </div>

        </div>
    
    </div>

</section>
