<section>

    <h1 class="text-[#a90269] text-8xl lg:text-[9vw] font-bold text-center opacity-70 m-20 lg:m-2">OFEROWANE USŁUGI STOMATOLOGICZNE</h1>

    <div class="flex justify-center items-center p-20 sm:p-2 w-full max-w-[1200px] flex-wrap basis-1/3 m-auto">

        <div class="bg-[#a90269] flex flex-col justify-center items-center p-5 m-5 w-[300px] rounded-xl">
            <img src="../../../assets/services/drill.png" alt="ząb i wiertło" width="100px">
            <p class="text-white uppercase text-center">stomatologia zachowawcza</p>
        </div>

        <div class="bg-[#a90269] flex flex-col justify-center items-center p-5 m-5 w-[300px] rounded-xl">
            <img src="../../../assets/services/stars.png" alt="ząb" width="100px">
            <p class="text-white uppercase text-center">profilaktyka i higiena</p>
        </div>

        <div class="bg-[#a90269] flex flex-col justify-center items-center p-5 m-5 w-[300px] rounded-xl">
            <img src="../../../assets/services/implant.png" alt="implant zęba" width="100px">
            <p class="text-white uppercase text-center">protetyka</p>
        </div>

        <div class="bg-[#a90269] flex flex-col justify-center items-center p-5 m-5 w-[300px] rounded-xl">
            <img src="../../../assets/services/surgery.png" alt="stół chriurgiczny" width="100px">
            <p class="text-white uppercase text-center">chriurgia stomatologiczna</p>
        </div>

        <div class="bg-[#a90269] flex flex-col justify-center items-center p-5 m-5 w-[300px] rounded-xl">
            <img src="../../../assets/services/canals.png" alt="ząb z kanałami" width="100px">
            <p class="text-white uppercase text-center">leczenie kanałowe</p>
        </div>

        <div class="bg-[#a90269] flex flex-col justify-center items-center p-5 m-5 w-[300px] rounded-xl">
            <img src="../../../assets/services/dots.png" alt="kropki" width="100px">
            <p class="text-white uppercase text-center">i wiele więcej!</p>
        </div>

    </div>

</section>
