<header>

    <div class="flex justify-evenly bg-[#a90269] text-white p-1">

        <span class="flex justify-center lg:hidden">
            <img src="../assets/gps_pin.png" alt="lokalizacja" class="object-contain w-5 mr-1">
            <a href="https://goo.gl/maps/nWtzqWApzLGFFx6M7" class="underline"> Wojska Polskiego 17, 38-400 Krosno</a>
        </span>
        <span class="flex justify-center">
            <img src="../assets/phone.png" alt="telefon" class="object-contain w-5 mr-1 animate-bounce">
            <p>rejestracja: <a href="tel:+48693129312" class="underline">693 129 312</a></p>
        </span>

        <span class="flex justify-center lg:hidden">
            <img src="../assets/mail.png" alt="email" class="object-contain w-6 mr-1">
            <a href="mailto:agnieszka.zacharjasz.wilkusz@gmail.com" class="underline">agnieszka.zacharjasz.wilkusz@gmail.com</a>
        </span>

    </div>

    <app-navigation></app-navigation>

</header>

<app-about-me></app-about-me>